<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Cat Breeds</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filtroRazas()" placeholder="Search breeds..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let breed of filtroRaza">
    <ion-card-header>
      <ion-card-title>
        <div class="card-header">
          <span class="breed-name">{{ breed.name }}</span>
          <ion-button fill="clear" size="small" color="medium" (click)="goToDetails(breed)">Más...</ion-button>
        </div>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img [src]="breed.image?.url" *ngIf="breed.image?.url" class="cat-image" />
      <div class="card-footer">
        <span>🏳 {{ breed.origin }}</span>
        <span>🧠 {{ breed.intelligence }}/5</span>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
