.image-container {
    width: 100%;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    background: #000000;
    padding-top: 10px;
  }
  
  .breed-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
  }
  
  
  
  .scrollable-card {
    margin-top: 10px;
    border-radius: 16px;
    max-height: calc(100% - 250px);
    overflow-y: auto;
  }

  