.splash-screen {
    --background: #fdf6ec; 
  
    .splash-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  
    .splash-title {
      font-size: 2.5rem;
      font-weight: bold;
      color: #333;
      margin-top: 40%;
    }
  
    .splash-logo img {
      width: 150px;
      margin-bottom: 40px;
    }
  }
  